<script>
  $(function() {
      populate_agencies();
      populate_routes($("#agency option:selected").attr("value"));
      update_map();

      $("#agency").change(function() {
          populate_routes($("#agency option:selected").attr("value"));
      })
  });

  function populate_agencies() {
      <% @agencies.each do |agency| %>
      $("#agency").append("<option value='<%= agency.agency_id %>'><%= agency.agency_name %></option>");
      <% end %>
  }

  function populate_routes(agency) {
      $("#route").html("");


      switch(agency) {
      <% @agencies.each do |agency| %>
          case '<%= agency.agency_id %>':
              $("#route").append("<option value='<%= agency.agency_id %>_all'>(All routes)</option>");
              <% @routes.each do |route|
                    if route.agency_id == agency.agency_id %>
              $("#route").append("<option value='<%= route.route_id %>'><%= route.route_long_name %></option>");
              <%    end
                 end %>
             break;

      <% end %>
      }
  }

  function update_map () {
      var para = ""; // parameter string to attach to the URL

      var selectedAgency = $("#agency option:selected").attr("value");
      var selectedRoute = $("#route option:selected").attr("value");
      var len = selectedRoute.length;
      var idx = selectedRoute.lastIndexOf("_all");

      // All routes, not selected an actual route
      if (idx == len-4) {
          para = "agencies=" + selectedAgency;
      }
      else {
          para = "routes=" + selectedRoute;
      }

      // Check to show curved lines
      if (document.getElementById("showShape").checked == true) {
          para += "&showShapes=1";
      }

      $("#map").attr("src", "api?" + para);
      $("#url").html("api?" + para);
  }
</script>

<h1>Welcome to our application!</h1>

<form>
  <table>
    <tr>
      <td colspan="2">Please select a route below and click display to see it on the map.</td>
    </tr>
    <tr>
      <td>Agency: </td>
      <td><select id="agency" name="agency"></select></td>
    </tr>
    <tr>
      <td>Route: </td>
      <td><select id="route" name="route"></select></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="checkbox" id="showShape" name="showShape" />   Check to follow the roads with the lines!</td>
    </tr>
    <tr>
      <td></td>
      <td><input type="button" value="Go!" onclick="update_map()"></td>
    </tr>
  </table>
</form>

<br>
<iframe id="map" src="http://www.google.com" height="800" width="100%"></iframe>
<br><br>

<p align="center">To embed this map into your website, copy and paste the code below to your website's html.
  <br>The code changes based on your selection.</p>
<p align="center">
<span style="background-color:#CCCCCC; border:1pt solid black;">
  &nbsp;&nbsp;&nbsp;<tt>&lt;iframe src="http://gtfs-test.com/<span id="url"></span>"&gt;&lt;/iframe&gt;</tt>&nbsp;&nbsp;&nbsp;
</span>
</p>
