<%= stylesheet_link_tag "application.css" %>

<%
   require "nokogiri"
%>

<% if @warn %>
    <div style="color:red"><b>Invalid credentials. Try again.</b></div><br>
<% end %>

<% if @authenticated %>

    <h3>Update Data Sources</h3>

    <table border="1" width="100%">
      <tr>
        <th align="left" style="width:13%">Agency</th>
        <th align="left" style="width:13%">String</th>
        <th align="left" style="width:56%">URL</th>
        <th align="left" style="width:6%">Active</th>
        <th align="left" style="width:12%">Action</th>
      </tr>

      <form name="editfeeds" action="config?savefeed=<%= @editfeed %>" method="post" style="width:100%">
        <%
           @xml.css("gtfs entry").each do |url|
        %>

            <% if !@editfeed.nil? and @editfeed == url["dirname"] %>
                <tr>
                  <td align="left" width="13%"><input type="text" name="agency" value="<%= url["agency"] %>"></td>
                  <td align="left" width="13%"><input type="text" name="dirname" value="<%= url["dirname"] %>"></td>
                  <td align="left" width="56%"><input type="text" name="url" size="100" value="<%= url["url"] %>"></td>
                  <td align="left" width="6%"><input type="checkbox" name="active" value="1" <%= url["active"] == "1" ? "checked=\"checked\"" : "" %>></td>
                  <td align="left" width="12%"><a href="#" onclick="document.forms.editfeeds.submit()">Save</a> | <a href="config">Cancel</a></td>
                </tr>
            <% else %>
                <tr>
                  <td align="left" width="13%"><%= url["agency"] %></td>
                  <td align="left" width="13%"><%= url["dirname"] %></td>
                  <td align="left" width="56%"><%= url["url"] %></td>
                  <td align="left" width="6%"><input type="checkbox" <%= url["active"] == "1" ? "checked=\"checked\"" : "" %> disabled="disabled"></td>
                  <td align="left" width="12%"><a href="config?editfeed=<%= url["dirname"] %>">Edit</a> | <a href="config?delfeed=<%= url["dirname"] %>">Delete</a></td>
                </tr>
            <% end %>
        <% end %>
      </form>

      <form name="addfeed" action="config?addfeed=1" method="post" style="width:100%">
        <% if @editfeed.nil? %>
            <tr>
              <td align="left" width="13%"><input type="text" name="agency" value="" size="15"></td>
              <td align="left" width="13%"><input type="text" name="dirname" value="" size="15"></td>
              <td align="left" width="56%"><input type="text" name="url" value="" size="87"></td>
              <td align="left" width="6%"><input type="checkbox" name="active" value="1"></td>
              <td align="left" width="12%"><a href="#" onclick="document.forms.addfeed.submit()">Add</a></td>
            </tr>
        <% end %>
      </form>
    </table>

<!-- Not authenticated -->
<% else %>

    <form action="config" method="post">
      <table border="0">
        <tr><td>Username:&nbsp;&nbsp;</td><td><input type="text" name="uname" maxlength="20"></td></tr>
        <tr><td>Password:&nbsp;&nbsp;</td><td><input type="password" name="pword" maxlength="20"></td></tr>
        <tr><td>&nbsp;</td><td><input type="Submit" value="Login"></td></tr>
      </table>
    </form>

<% end %>