<%= stylesheet_link_tag "application.css" %>

<h3>Map</h3>

<table>
  <tr valign="top">
    <td width="30%" style="border: 1px solid black">
      <table>
        <tr>
          <td>Agency: </td>
          <td>
            <select name="agency" size="1">
              <% @agencies.each do |agen| %>
                  <!-- agen[0] = agency_id; agen[1] = agency_name -->
                  <option value="<%= agen[0] %>"> <%= agen[1] %> </option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Route: </td>
          <td>
            <select name="route" size="1">
              <% @routes.each do |r| %>
                  <!-- r[0] = route_id; r[3] = route_long_name -->
                  <option value="<%= r[0] %>"> <%= r[3] %> </option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="button" name="AddToMap" value="Add To Map" />
          </td>
        </tr>
      </table>
    </td>

    <td width="70%" style="border: 1px solid black">
      <iframe src="www.google.com" width="100%" style="border: 0">aaa</iframe>
    </td>
  </tr>
</table>
